html {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
  font-size: 15px !important;
}

div.content.backgroundForIndex {
	background-image: url("./img.png");
	background-repeat: no-repeat;
	/*background-attachment: fixed; */
	background-size: contain;
	background-attachment: left;
  height: 633px;
}

.backgroundForSingedOut {
	background-image: url("./singedOut.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 500px 350px;
	background-attachment: center;
}

.backgroundRecipe {
	background-image: url("./img3.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-attachment: center;
	background-size: contain;
}

.create-account {
	background-image: url("./img2.png");
	background-repeat: no-repeat;
	/*background-attachment: fixed; */
	background-position: right;
	background-size: contain;
  padding-top: 5%;
}

button.btn.colorgraph {
	height:30px;
}

.login_form input[type=submit] {
	text-align: center;
}

.login_form {
	float: right;
	margin: 25px;
  padding-top: 2%;
}

input {
	margin-bottom: 20px;
}

label {
	margin-bottom: 20px;
	display: block;
}

p {
	align: center;
}

.alert_ca {
	height: 20px;
	font-style: italic;
}

span {
	font-family: Arial, Helvetica, sans-serif;
	color: #330a00;
	font-style: normal;
	/* font-variant: small-caps; */
}

span b {
	color: red;
}

.form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
  border-radius: none;
}

input[type="text"] {
	margin-bottom: 0px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

input[type="password"] {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.colorgraph {
	height: 7px;
	border-top: 0;
	background: #c4e17f;
	border-radius: 5px;
	background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%,
		#f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%,
		#db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%,
		#669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%,
		#f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%,
		#db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%,
		#669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca
		25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe
		50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1
		87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca
		25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe
		50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1
		87.5%, #62c2e4 87.5%, #62c2e4);
}

.ds-btn li {
	list-style: none;
	float: left;
	padding: 10px;
}

.ds-btn li div span {
	padding-left: 15px;
	padding-right: 5px;
	width: 100%;
	display: inline-block;
	text-align: left;
	text-decoration: none;
	cursor: default;
}

.ds-btn li div {
	text-decoration: none;
	cursor: default;
}

.ds-btn li div span small {
	width: 100%;
	display: inline-block;
	text-align: left;
}

.form-inline .form-control {
	width: 100%;
}

.addIngr {
	margin: auto;
	position: relative;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	line-height: 24px;
	text-decoration: none;
	border-radius: 10px;
	padding: 10px;
}

.addIngr input[type="date"] {
	font-style: italic;
	color: #9e9b9c;
	font-size: 12px;
	height: 40px !important;
	padding-left: 20px;
}

div.dropdown {
	text-align: left;
}

.container.addRecipePage .addIngr div .form-group input {
	display: block;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);

}

#addIngredient .form-group {
  margin-bottom: 0;
}

.container.addRecipePage .addIngr div .form-group label.radio-inline input {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.container.addRecipePage .addIngr div .dropdown select {
	display: block;
	border: 1px solid #999;
	height: 35px;
  border-radius: 10px;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.container.addRecipePage .addIngr div .form-group label {
	text-align: left;
	color: black;
}

.container.addRecipePage .addIngr div .form-group.col-sm-4 label {
  font-size: 9px;
}

.container.addRecipePage .addIngr div div textarea.story {
	height: 50%;
	display: block;
}

#addOneIngredient {
	padding-top: 30px;
	padding-bottom: 30px;
}

.container.addRecipePage {
	height: auto;
	margin: 0 auto;
  padding-top: 5%;
}

.container.addRecipePage .row.col-md-12.col-lg-12.addIngr {
	border: 1px solid red;
	width: 70%;
	margin: 0 auto;
  margin-bottom:10px;
	float: inherit;
	padding: 40px;
	border: 1px solid #999;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	background-color: rgba(255, 255, 255, 0.9);
}

.container.addRecipePage .form-block.row.col-xs-12.col-sm-12.addIngr {
  width: 100%;
}

.addbutton {
	padding-top: 15px;
}

a {
	color: black;
}

.row .form-group div textarea {
  overflow-x: hidden;
  overflow-y: hidden;
}

.detailsAboutRecipe textarea {
	resize: none;
  margin: 20px;
}

.rightInput {
	float: right !important;
}

#foodCategories .row.leftDropdown {
	float: left;
}

#foodCategories .dropdown select {
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #0a0a0a;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 15px;
    outline: 0;
}

.modal-body {
	padding: 20px;
	font-family: "Times New Roman", Times, serif;
	color: blue;
}

.modal-body span {
	font-family: none;
	border-style: solid;
	border-width: 1px 1px 1px 20px;
	border-color: black;
	font-family: Calibri, "Helvetica", san-serif;
	line-height: 1.5em;
	font-size: 15px;
}

.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
}

.ds-btn li div.btn.btn-lg.btn-success span.newR {
	padding-left: 0px !important;
}

button.btn.btn-success {
	border-color: transparent;
	color: black;
}

#body {
	min-height: 100%;
	position: relative;
	padding: 10px;
	padding-bottom: 60px;
}

/* #footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 225px;
	background-image: url("./img4.png");
	background-size: cover;
}*/

.userType {
	padding-bottom: 20px;
}

.btn span.glyphicon {
	opacity: 0;
}
.btn.active span.glyphicon {
	opacity: 1;
}

 *[role="form"] {
    max-width: 530px;
    padding: 15px;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    margin-bottom: 1em;
}

.btn.btn-success.dashboard-btn {
    padding: initial;
}

div#app nav.navbar.navbar-default {
    background-color: white;
}

.icon-circle .fa{
    font-size: 25px;
    color: #e84700;
    margin: 0 auto;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border:2px solid #e84700;
    line-height: 20px;
    cursor: pointer;
    -webkit-transition: all  ease-in-out 0.35s;
    -moz-transition: all  ease-in-out 0.35s;
    -o-transition: all  ease-in-out 0.35s;
    -ms-transition: all  ease-in-out 0.35s;
    transition: all  ease-in-out 0.20s,background-color ease-in-out 0.05s;
}

.icon-circle .fa:hover{
    background-color: #e84700;
    color: #fff;
    border: 1px solid #e84711;
    -moz-box-shadow: inset 0px 0px 0px 5px #ffffff;
    -o-box-shadow: inset 0px 0px 0px 5px #ffffff;
    -ms-box-shadow: inset 0px 0px 0px 5px #ffffff;
    -webkit-box-shadow: inset 0px 0px 0px 5px #ffffff;
    box-shadow: inset 0px 0px 0px 5px #ffffff;
    -ms-transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
}

.icon-circle i:before{
    margin-left: 0px;
    font-size: 15px;
}

.ifacebook .fa{
    color:#3B5998;
    border:2px solid #3B5998;
}

.ifacebook .fa:hover{

    background-color: #3B5998;
    color: #fff;
    border: 1px solid #3B5998;

}

.itwittter .fa{
    color: #33ccff;
    border:2px solid #33ccff;
}

.itwittter .fa:hover{

    background-color: #33ccff;
    color: #fff;
    border: 1px solid #33ccff;

}

.igoogle .fa{
    color: #BD3518;
    border:2px solid #BD3518;
}

.igoogle .fa:hover{

    background-color: #BD3518;
    color: #fff;
    border: 1px solid #BD3518;

}

.iLinkedin .fa{
    color: #007bb7;
    border:2px solid #007bb7;
}

.iLinkedin .fa:hover{

    background-color:#007bb7;
    color: #fff;
    border: 1px solid #007bb7;

}

footer.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.btn.btn-warning.col-lg-4.col-md-4.col-sm-4.col-xs-4 span.glyphicon.glyphicon-ok {
  font-size: 9px;
}
.btn.btn-success.col-lg-4.col-md-4.col-sm-4.col-xs-4 span.glyphicon.glyphicon-ok {
  font-size: 9px;
}
.btn.btn-info.col-lg-4.col-md-4.col-sm-4.col-xs-4 span.glyphicon.glyphicon-ok {
  font-size: 9px;
}

.time div.form-group.col-md-4.col-sm-4.col-xs-12 input.form-control {
  padding: 6px 5px;
}

nav.navbar.navbar-default {
  min-height:0;
  margin-bottom:0''
}

#create div.row {
  margin-left:0;
}

#list div.row {
  margin-left:0;
}

#list {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#list .row.list-recipe {
  display: flex;
  flex-wrap: wrap;
  margin-right:-15px;
  margin-left:-15px;
}

#list .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

#list .rounded-circle {
  border-radius: 50%!important;
}

#list img {
  vertical-align: middle;
  border-style: none;
}

#list h2 {
  font-weight:400;
}

.btn-secondary {
  color: #fff;
  background-color: #868e96;
  border-color: #868e96;
}

#list div.star {
  margin-top: 0;
  padding: 8px 8px 8px 32px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.list-group {
  display: flex;
  flex-direction:column;
  padding-left: 0;
  margin-bottom: 0;
}

div.list-group p a.list-group-item {
padding: 5px 10px;
border: none;

}
div.list-group div a.list-group-item {
padding: 5px 10px;
border: none;

}

.sidebar {
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-right .5s;
    padding-top: 10%;
}

a label.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
  margin-left: 0;
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

div.navbar.navbar-default.navbar-fixed-top div.container {
  display: initial;
}

.container.navbar-default.navbar-fixed-top {
background-color: #ffffff;
}

ul.nav.navbar-nav {
  background-color: transparent;
}

#id div.navbar {
  margin-bottom: 0;
  border: none;
}

tbody > tr {
    cursor: pointer;
}

div.card footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

div.card div.card-content {
padding: 2.5rem;
}

.form-group div .tooltip {
    position: relative;
    display: inline-block;
}

#tooltip {
    opacity: 1 !important;
    color: #777 !important;
    font-size: 200% !important;
    margin-left: 20px;
}

#tooltip .tooltiptext {
  font-size: 40%;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#categoryModal .modal-dialog .modal-content {
  width: 43%;
}


.form-group.login {
  float: right;
  font-size: 11px;
  margin-bottom: 2px;
}

.form-gap {
    padding-top: 70px;
}


form#addIngredient input[type="text"], input[type="date"], input[type="number"], form#registrationForm input[type="text"], input[type="date"], input.pass
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #0a0a0a;
    outline: 0;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    outline: 0;
    border-radius: none;
}

form#registrationForm .form-group.pass {
 border-radius: none;
}



form#addIngredient .form-group.data input[type="date"]
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #0a0a0a;
    outline: 0;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    outline: 0;
    border-radius: none;
}

#addIngredient textarea {
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #0a0a0a;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 15px;
    outline: 0;
}

.addIngr input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #0a0a0a;
}
.addIngr input[type="text"]::-moz-placeholder { /* Firefox 19+ */
  color: #0a0a0a;
}
.addIngr input[type="text"]:-ms-input-placeholder { /* IE 10+ */
  color: #0a0a0a;
}
.addIngr input[type="text"]:-moz-placeholder { /* Firefox 18- */
  color: #0a0a0a;
}


.addIngr input[type="number"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #0a0a0a;
}
.addIngr input[type="number"]::-moz-placeholder { /* Firefox 19+ */
  color: #0a0a0a;
}
.addIngr input[type="number"]:-ms-input-placeholder { /* IE 10+ */
  color: #0a0a0a;
}
.addIngr input[type="number"]:-moz-placeholder { /* Firefox 18- */
  color: #0a0a0a;
}

.addIngr textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #0a0a0a;
}
.addIngr textarea::-moz-placeholder { /* Firefox 19+ */
  color: #0a0a0a;
}
.addIngr textarea:-ms-input-placeholder { /* IE 10+ */
  color: #0a0a0a;
}
.addIngr textarea:-moz-placeholder { /* Firefox 18- */
  color: #0a0a0a;
}

.row .state {
  float: right;
  font-size: 12px;
  letter-spacing: 1px;
}

div.row.star {
  float:right;
  margin-top: 10%;
}

#addIngredient .form-control {
border-radius: 0;
}

#registrationForm .form-control {
  border-radius: 0;
}

span.description {
  font-size: 11px;
  font-style: oblique;
}

.modal-body td {
  padding-top: 15px;
  padding-right: 15px;
}

div.userType label.roleBtn {
    border-radius: 15px;
}
