<template>
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        Thank you for the new recipe!
        <!-- <a href="https://twitter.com/bstavroulakis" target="_blank">Twitter</a> -->
      </div>
    </div>
  </footer>
</template>
