<template>
  <div id="header">
    <div v-if="isAuthenticated">
      <div class="container">
        <div class="container navbar-default navbar-fixed-top" role="navigation">
          <div>
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              <a href="" class="navbar-brand">CookBook Journal</a>
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <!-- <li>
                <router-link to="/category/front-end" exact>
                  <img src="http://bit.ly/vue-img" alt="Vue SPA" />
                </router-link>
              </li> -->
                <li>
                  <router-link class="nav-item is-tab" to="/login">
                    <span v-if="isAuthenticated" v-on:click="logout()"> Logout </span><span v-else> Login </span>
                  </router-link>
                </li>
                <li>
                  <router-link class="nav-item is-tab" to="/registration">
                    <span v-if="!isAuthenticated"> New Account </span><span v-else> New Account </span>
                  </router-link>
                </li>
                <li>
                  <router-link class="nav-item is-tab" to="/recipes">
                  <span v-if="isAuthenticated"> List of recipes </span>
                  </router-link>
                </li>
                <li>
                  <router-link class="nav-item is-tab" to="/create">
                  <span v-if="isAuthenticated"> Create a recipes </span>
                  </router-link>
                </li>
                <!-- <li>
                <router-link class="nav-item is-tab" :to="{name: 'category', params: {id: 'front-end'} }">
                  Front-end
                </router-link>
              </li><li>
                <router-link class="nav-item is-tab" :to="{name: 'category', params: {id: 'mobile'} }">
                  Mobile
                </router-link> -->
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user">
                </span>
                    <strong>{{ details.username }}</strong>
                    <span class="glyphicon glyphicon-chevron-down"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <div class="navbar-login">
                        <div class="row">
                          <div class="col-lg-4">
                            <p class="text-center">
                              <span> <img src='../css/pikachu.png'></span>
                            </p>
                          </div>
                          <div class="col-lg-8">
                            <p class="text-left"><strong>{{ details.firstname }} {{ details.lastname }}</strong></p>
                            <p class="text-left small">{{ details.type }} Admin</p>
                            <p class="text-left">
                              <a href="#" class="btn btn-primary btn-block btn-sm">Change role</a>
                            </p>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <div class="navbar-login navbar-login-session">
                        <div class="row">
                          <div class="col-lg-12">
                            <p>
                              <a href="#" class="btn btn-danger btn-block"><i class="fa fa-fw fa-power-off"></i>Logout</a>
                            </p>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  // import appService from '../app.service.js'
  import {
    mapGetters,
    mapActions
  } from 'vuex'
  export default {
    data () {
      return {
        details: {}
      }
    },
    computed: {
      ...mapGetters(['isAuthenticated'])
    },
    methods: {
      loadUserDetails () {
        console.log('aaaa')
        // appService.getUserDetails().then(data => {
        //  this.details = data
        //  })
      },
      ...mapActions({
        logout: 'logout'
      })
    },
    created () {
      // this.loadUserDetails()
    }
  }
</script>
