<template>
  <div id="list">
    <div v-if="isAuthenticated">
      <div class="container">
      <app-header></app-header>
        <div class="row row-offcanvas row-offcanvas-right" id="main">
          <div class="col-12 col-md-12">
            <p class="float-right d-md-none">
              <span @click="openNav">&#9776; Filter /</span>
              <span class="closebtn" @click="closeNav"> Close</span>
            </p>
            <div class="sidebar" id="mysidebar">
              <div class="list-group">
                <p>
                  <a class="list-group-item" v-for="category in categories">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">{{category.name}}
                      </label>
                  </a>
                </p>
                <p>
                  <a href="" class="list-group-item">
                    <label class="checkbox-inline">
                      <input type="checkbox" value="">Favourite recipes
                    </label>
                </a></p>
                <div class="star">
                  <a href="" class="list-group-item">Rating</a>
                      <star-rating :increment="0.5"
                        v-bind:max-rating="5"
                        inactive-color="#B0C4DE"
                        active-color="#FFD700"
                        v-bind:star-size="20">
                      </star-rating>
                </div>
                <p>
                  <a class="list-group-item">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">public recipe
                      </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">private recipe
                      </label>
                  </a>
                </p>
              </div>
            </div>
            <div class="row list-recipe">
              <div class="card col-lg-4 col-md-4 col-sm-4 col-xs-12" v-for="(recipe, index) in recipes">
                <div class="card-content">
                  <img src="../css/img6.png" alt="img" class="img-thumbnail">
                  <h4>{{recipe.name}}</h4>
                  <p><span class="description">{{recipe.description}}</span></p>
                  <p><b>{{recipe.category}}</b></p>
                </div>
                <footer>
                  <p>
                    <a class="card-footer-item btn btn-info col-1" role="button" data-toggle="modal" :data-target="'#' + recipe.id">Details</a>
                    <a class="card-footer-item btn btn-danger col-1" role="button" @click="deleteRecipe(index, recipe.id)">Delete</a>
                    <a class="card-footer-item btn btn-secondary col-1" role="button">Edit</a>
                  </p>
                </footer>
                <div class="modal" :id="recipe.id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="text-danger fa fa-times"></i></button>
                        <h4 class="modal-title" id="myModalLabel"><strong>{{recipe.name}}</strong></h4>
                      </div>
                      <div class="modal-body">
                        <table class="pull-left col-md-8 ">
                          <tbody>
                            <tr>
                              <td class="h6"><strong>Description:</strong></td>
                              <td> </td>
                              <td class="h5">{{recipe.description}}</td>
                            </tr>
                            <tr></tr>
                            <tr>
                              <td class="h6"><strong>Date:</strong></td>
                              <td> </td>
                              <td class="h5">{{recipe.date}}</td>
                            </tr>
                            <tr></tr>
                            <tr>
                              <td class="h6"><strong>Serves:</strong></td>
                              <td> </td>
                              <td class="h5">{{recipe.serves}}</td>
                            </tr>
                            <tr></tr>
                            <tr>
                              <td class="h6"><strong>Ingredients:</strong></td>
                              <td> </td>
                              <td class="h5">{{recipe.ingredients}}</td>
                            </tr>
                            <tr></tr>
                            <tr>
                              <td class="h6"><strong>Instructions:</strong></td>
                              <td> </td>
                              <td class="h5">{{recipe.instructions}}</td>
                            </tr>
                            <tr></tr>
                            <tr>
                              <td class="h6"><strong>Notes:</strong></td>
                              <td> </td>
                              <td class="h5">{{recipe.notes}}</td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="col-md-4">
                          <img src="../css/img5.png" alt="img" class="img-thumbnail">
                          <img src="../css/img5.png" alt="img" class="img-thumbnail">
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="modal-footer">
                        <div class="text-right pull-right col-md-3">
                          Rating: <br/>
                          <span class="h3 text-muted"><strong> {{recipe.star}} &#x2605; </strong></span></span>
                        </div>
                        <div class="text-right pull-right col-md-3">
                          Prep Time: <br/>
                          <span class="h3 text-muted"><strong> {{recipe.prepTime}} </strong></span></span>
                        </div>

                        <div class="text-right pull-right col-md-3">
                          Cook Time: <br/>
                          <span class="h3 text-muted"><strong>{{recipe.serves}}</strong></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div v-else-if="!isAuthenticated">
    <p>not auth</p>
  </div>
  </div>
</template>

<script>
  import appService from '../app.service.js'
  import UserDetails from './UserDetails.vue'
  import StarRating from 'vue-star-rating'
  import AppHeader from './AppHeader.vue'
  import {
    mapGetters,
    mapActions
  } from 'vuex'
  export default {
    name: 'list',
    components: {
      UserDetails,
      StarRating,
      AppHeader
    },
    data () {
      return {
        recipes: [],
        showModal: false,
        categories: []
      }
    },
    computed: {
      ...mapGetters(['isAuthenticated'])
    },
    methods: {
      ...mapActions({
        logout: 'logout'
      }),
      goToCreate () {
        this.$router.push('/create')
      },
      deleteRecipe (index, id) {
        this.$delete(this.recipes, index)
        appService.deleteRecipe(id)
      },
      displayModal () {
        this.showModal = true
      },
      loadRecipes () {
        appService.getRecipes().then(data => {
          this.recipes = data
        })
      },
      loadCategories () {
        appService.getCategories().then(data => {
          this.categories = data
        })
      },
      openNav () {
        document.getElementById('mysidebar').style.width = '200px'
        document.getElementById('main').style.marginLeft = '200px'
      },
      closeNav () {
        document.getElementById('mysidebar').style.width = '0'
        document.getElementById('main').style.marginLeft = '0'
      }
    },
    created () {
      this.loadRecipes()
      this.loadCategories()
    }
  }
</script>
