<template>
  <div id="foodCategories">
    <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 leftDropdown">

      <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <div class="dropdown">
          <select name="category" v-model="categoryName" @blur="done">
            <option value="" selected disabled hidden> Category</option>
            <option v-for="category in categories">{{category.name}}</option>
          </select>
        </div>
      </div>

      <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="tooltip" id="tooltip" data-toggle="modal" data-target="#categoryModal">&#x2605;
          <span class="tooltiptext">New category? Click me!</span>
        </div>
      </div>

        <div class="modal fade" id="categoryModal" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-body">
                <div class="form-group">
                  <label for="usr">Category name:</label>
                  <input type="text" class="form-control" id="category" v-model="category_name">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" @click="addCategory()">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import appService from '../app.service.js'
  export default {
    name: 'foodCategories',
    data () {
      return {
        categories: [],
        categoryName: '',
        category_name: '',
        userId: 1
      }
    },
    methods: {
      loadCategories () {
        appService.getCategories().then(data => {
          this.categories = data
        })
      },
      done () {
        this.$emit('chosen', this.categoryName)
      },
      addCategory () {
        appService.postNewCategory(this.category_name, this.userId)
        this.loadCategories()
      }
    },
    created () {
      this.loadCategories()
    }
  }
</script>
