<template>
  <div id="log_in">
    <div v-if="!isAuthenticated">
      <div class="container">
        <div class="content backgroundForIndex col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <!-- <div v-if="isAuthenticated">
            Hello authenticated user!
            <button v-on:click="logout()" class="button is-primary">Logout</button>
          </div> -->
          <div v-if="!isAuthenticated">
            <div class="login_form">
              <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
              <hr class="colorgraph">
              <div class="field is-horizontal">
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <input v-model="username" class="input" type="text" placeholder="Your username">
                    </div>
                  </div>
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <input v-model="password" class="input" type="password" placeholder="Your password">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <div class="form-group login">
                    <input type="checkbox" name="check" checked> Remember Me
                  </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12">
                  <div class="form-group login">
                    <a @click="goToResetPass()"> Forgot Password? </a>
                  </div>
                </div>
              </div>
              <!-- <center>
                <div class="userType btn-group col-lg-12 col-md-12 col-sm-12 col-xs-12" data-toggle="buttons">
                  <label class="roleBtn btn btn-success active col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <input type="radio" name="typeUser" value="Admin" autocomplete="off" checked>
                    <span class="glyphicon glyphicon-ok"> Admin </span>
                  </label>
                  <label class="roleBtn btn btn-info col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <input type="radio" name="typeUser" value="User" autocomplete="off">
                    <span class="glyphicon glyphicon-ok"> User </span>
                  </label>
                  <label class="roleBtn btn btn-warning col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <input type="radio" name="typeUser" value="Guest" autocomplete="off">
                    <span class="glyphicon glyphicon-ok"> Guest </span>
                  </label>
                </div>
              </center> -->
              <div class="field is-horizontal col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <button class="btn btn-lg btn-primary btn-block" @click="login()">
                            Login
                      </button>
                      <button class="btn btn-lg btn-default btn-block" @click="goToRegistration()">
                            Create an account
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container-fluid">

                <div class="row">
                  <div class="sicon">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                      <div class="icon-circle">
                        <a href="" class="ifacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                      <div class="icon-circle">
                        <a href="" class="itwittter" title="Twitter"><i class="fa fa-twitter"></i></a>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                      <div class="icon-circle">
                        <a href="" class="igoogle" title="Google+"><i class="fa fa-google-plus"></i></a>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                      <div class="icon-circle">
                        <a href="" class="iLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     </div>
    <div v-if="isAuthenticated">
      Hello authenticated user!
      <button v-on:click="logout()" class="button is-primary">Logout</button>
    </div>
  </div>
</template>

<script>
  import {
    mapGetters,
    mapActions
  } from 'vuex'
  export default {
    data () {
      return {
        username: '',
        password: ''
      }
    },
    computed: {
      ...mapGetters(['isAuthenticated'])
    },
    methods: {
      ...mapActions({
        logout: 'logout'
      }),
      goToRegistration () {
        this.$router.push('/registration')
      },
      goToResetPass () {
        this.$router.push('/reset')
      },
      login () {
        debugger // eslint-disable-line
        this.$store.dispatch('login', {
          username: this.username,
          password: this.password
        })
          .then(() => {
            this.username = ''
            this.password = ''
            this.$router.push('/recipes')
          })
      }
    }
  }
</script>]
