<template>
<div id="create" class="backgroundRecipe">
  <div v-if="isAuthenticated">
    <app-header></app-header>
      <center>
        <h3></h3>
      </center>
      <div class="container addRecipePage">
        <form id="addIngredient" class="form-block row col-md-12 col-sm-12 col-xs-12 col-lg-12 addIngr" method="post" action="http://localhost:8081/recipe/save" @submit.prevent="addRecipe">
          <div class="row col-md-12 col-sm-12 col-xs-12 col-lg-12">
            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
              <div class="form-group">
                <input type="text" class="form-control input" name="recipeName" placeholder="Name" v-model="recipe_name" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control input" name="description" placeholder="Description" v-model="recipe_description" required>
              </div>
              <div class="form-group data">
                <input type="date" class="form-control" name="date" v-model="recipe_date">
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
              <div class="form-group">
                <div>
                  <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 state">
                      <label class="radio-inline">
                          <input type="radio" name="state" id="publicState" value="Public"  v-model="state">Public
                      </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 state">
                      <label class="radio-inline">
                          <input type="radio" name="state" id="privateState" value="Private"  v-model="state">Private
                        </label>
                    </div>
                  </div>
                  <div class="row star col-md-6 col-sm-6 col-xs-6 col-lg-6">
                    <star-rating :increment="0.5" v-bind:max-rating="5" inactive-color="#B0C4DE" active-color="#777" v-bind:star-size="20" @rating-selected="rating = $event" :rating="rating">
                    </star-rating>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr class="row col-md-12 col-sm-12 col-xs-12 col-lg-12">
          <div class="row col-md-12 col-sm-12 col-xs-12 time">
            <div class="form-group col-md-4 col-sm-4 col-xs-12">
              <input type="text" class="form-control" name="prepTime" placeholder="Prep Time" v-model="recipe_preptime" required>
            </div>
            <div class="form-group col-md-4 col-sm-4 col-xs-12">
              <input type="text" class="form-control" name="cookTime" placeholder="Cook Time" v-model="recipe_cooktime" required>
            </div>
            <div class="form-group col-md-4 col-sm-4 col-xs-12">
              <food-categories v-on:chosen="chosenCategory($event)"></food-categories>
            </div>
          </div>
          <hr class="row col-md-12 col-sm-12 col-xs-12 col-lg-12">
          <div class="row col-md-12 col-sm-12 col-xs-12">
            <div class="form-group detailsAboutRecipe">
              <div>
                <textarea rows="4" col="55" name="ingredients" class="story col-md-12 col-sm-12 col-xs-12" placeholder="Ingredient name, weight, unit symbol (apple 2 kg)" v-model="recipe_ingredients"></textarea>
              </div>
            </div>
            <div class="form-group detailsAboutRecipe">
              <div>
                <textarea rows="4" col="55" name="instructions" class="story col-md-12 col-sm-12 col-xs-12" placeholder="Give me instructions" v-model="recipe_instructions"></textarea>
              </div>
            </div>
            <div class="form-group col-md-4 col-sm-4 col-xs-12">
              <input type="number" placeholder="Serves" class="form-control" name="serves" v-model="recipe_serves" required>
            </div>
            <div class="form-group detailsAboutRecipe">
              <div>
                <textarea rows="4" col="55" name="notes" class="story col-md-12 col-sm-12 col-xs-12" placeholder="Type some notes" v-model="recipe_notes"></textarea>
              </div>
            </div>
          </div>
          <div class="row col-md-12 col-sm-12 col-xs-12 addbutton">
            <center>
              <button type="submit" class="btn btn-primary" value="Create">Add Recipe</button>
            </center>
          </div>
        </form>
      </div>
    </div>
    <div v-else-if="!isAuthenticated">
      <p>not auth</p>
    </div>
</div>
</template>

<script>
  import UserDetails from './UserDetails.vue'
  import FoodCategories from './FoodCategories.vue'
  import AppHeader from './AppHeader.vue'
  import appService from '../app.service.js'
  import StarRating from 'vue-star-rating'
  import {
    mapGetters,
    mapActions
  } from 'vuex'
  export default {
    name: 'create',
    components: {
      'user-details': UserDetails,
      'food-categories': FoodCategories,
      'app-header': AppHeader,
      StarRating
    },
    computed: {
      ...mapGetters(['isAuthenticated'])
    },
    data () {
      return {
        recipe_name: '',
        recipe_date: '',
        recipe_description: '',
        recipe_preptime: '',
        recipe_cooktime: '',
        recipe_serves: '',
        recipe_ingredients: '',
        recipe_instructions: '',
        recipe_notes: '',
        user: 1,
        category: '',
        state: '',
        rating: 0,
        ingredientId: 1
      }
    },

    methods: {
      ...mapActions({
        logout: 'logout'
      }),
      goToList () {
        this.$router.push('/recipes')
      },
      chosenCategory (variable) {
        this.category = variable
      },
      addRecipe () {
        appService.postNewRecipe(this.recipe_name, this.recipe_description, this.recipe_date, this.recipe_preptime,
          this.recipe_cooktime, this.recipe_serves, this.recipe_notes, this.recipe_instructions, this.recipe_ingredients,
          this.category, this.user, this.state, this.rating, this.ingredientId)
      }
    }
  }
</script>
