<template>
  <div id="registration" >
    <div v-if="isAuthenticated">
      <div class="container">
        <div class="create-account">
          <form id="registrationForm" method="post" action="http://localhost:8081/user/save" class="form-horizontal" role="form" @submit.prevent="addUser">
            <h2>Create an account</h2>
            <div class="form-group">
              <label for="firstName" class="col-sm-3 control-label">First Name</label>
              <div class="col-sm-9">
                <input type="text" name="firstname" class="form-control input" v-model="firstname" autofocus>
                <span class="alert_ca"></span>
                <span id="firstname"></span>
              </div>
            </div>

            <div class="form-group">
              <label for="lastName" class="col-sm-3 control-label">Last Name</label>
              <div class="col-sm-9">
                <input type="text" name="lastname" class="form-control" v-model="lastname" autofocus>
                <span class="alert_ca"></span>
                <span id="lastname"></span>
              </div>
            </div>

            <div class="form-group">
              <label for="userName" class="col-sm-3 control-label">Username</label>
              <div class="col-sm-9">
                <input type="text" name="username" class="form-control" autofocus id="checkusername" autocomplete="off" v-model="username">
                <span class="alert_ca"></span><span id="username"></span>
              </div>
            </div>

            <div class="form-group">
              <label for="userName" class="col-sm-3 control-label">Date of birth</label>
              <div class="col-sm-9">
                <input type="date" name="birthday" class="form-control" v-model="birthday">
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-3">Gender</label>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-4">
                    <label class="radio-inline">
                        <input type="radio" name="gender" id="femaleRadio" value="Female" v-model="picked">Female
                      </label>
                  </div>
                  <div class="col-sm-4">
                    <label class="radio-inline">
                        <input type="radio" name="gender" id="maleRadio" value="Male" v-model="picked">Male
                      </label>
                  </div>
                  <div class="col-sm-4">
                    <label class="radio-inline">
                        <input type="radio" name="gender" id="otherRadio" value="Other" v-model="picked">Other
                      </label>
                  </div>
                </div>
                <span class="alert_ca"></span><span id="gender"></span>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-3">Role</label>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-4">
                    <label class="radio-inline">
                        <input type="radio" name="role" id="guestRole" value="1" v-model="role">Guest
                      </label>
                  </div>
                  <div class="col-sm-4">
                    <label class="radio-inline">
                        <input type="radio" name="role" id="userRole" value="2" v-model="role">User
                      </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="mail" class="col-sm-3 control-label">Email</label>
              <div class="col-sm-9">
                <input name="email" type="email" id="email" class="form-control pass" v-model="email">
                <span class="alert_ca"></span><span id="email"></span>
              </div>
            </div>

            <div class="form-group">
              <label for="password" class="col-sm-3 control-label">Password</label>
              <div class="col-sm-9">
                <input name="password" type="password" id="password" class="form-control pass" v-model="password">
                <span class="alert_ca"></span><span id="password"></span>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-12 col-sm-offset-3">
                <div class="col-sm-3">
                  <button type="submit" class="btn btn-primary btn-block">Register</button>
                </div>
                <div class="col-sm-3">
                  <button type="reset" value="Reset" class="btn btn-info btn-block">Reset</button>
                </div>
                <div class="col-sm-3">
                  <button value="back" class="btn btn-block" @click="backOrnewUser()">Back</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import appService from '../app.service.js'
  import {
    mapGetters,
    mapActions
  } from 'vuex'
  export default {
    name: 'registration',
    computed: {
      ...mapGetters(['isAuthenticated'])
    },
    data () {
      return {
        firstname: '',
        lastname: '',
        username: '',
        birthday: '',
        picked: '',
        password: '',
        role: 0,
        email: ''
      }
    },
    methods: {
      backOrnewUser () {
        this.$router.push('/login')
      },
      ...mapActions({
        logout: 'logout'
      }),
      addUser () {
        appService.postNewUser(this.firstname, this.lastname, this.username, this.birthday, this.picked, this.password, this.role, this.email)
      }
    }
  }
</script>
