<template>
  <div id="userDetails">
    <li>
      <div class="btn btn-lg btn-primary">
        <i class="glyphicon glyphicon-user pull-left"></i>
        <span>
          <small>{{ details.username }}</small><br>
          <small>{{ details.firstname }} {{ details.lastname }}</small><br>
          <small>{{ details.type }} Admin</small><br>
        </span>
      </div>
    </li>
  </div>
</template>

<script>
  import appService from '../app.service.js'
  export default {
    name: 'userDetails',
    data () {
      return {
        details: {}
      }
    },
    methods: {
      loadUserDetails () {
        appService.getUserDetails().then(data => {
          this.details = data
        })
      }
    },
    created () {
      this.loadUserDetails()
    }
  }
</script>
